.directory_content-body{
    display: grid;
    grid-template-columns: 1.5fr 2fr;
    grid-template-rows: 1fr 2fr;
    padding: 2rem 0rem;

}
.container_cards-data{
    grid-column: 1/3;
    background-color: var(--base-color);
    border-radius: 2rem;
    padding: 2rem 2rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    column-gap: 2rem;
}
.content_card{
    width: 25%;
    height: 100%;
    background-color: var(--secunday-color);
    border-radius: 1rem;
}